@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;

    font-family: "Fira Code", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.window {
    direction: rtl;
    text-align: left;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: #efe7d3;
    border: 1px solid #866678;
    border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
    background-color: #f79e88;
    border: 1px solid #866678;
    border-radius: 1rem;
}
